doctype
html
  head
    title Holi boli
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/index.js')
  body
    header
      h1.titulo Mi primera pagina web
    content
     p Este es mi contenido
     p
      a(href='www.google.com' class='link')